<%= form_with(model: fib, local: true) do |form| %>
  <% if fib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fib.errors.count, "error") %> prohibited this fib from being saved:</h2>

      <ul>
      <% fib.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.number_field :sequence_length %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
